@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
h1,
p {
  font-family: "Ubuntu", sans-serif;
}
.text_gradient {
  background: #2a62c0;
  background: linear-gradient(to right, #2a62c0 23%, #65b3ff 60%, #67a5ea 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.bg-blur {
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.hash-span {
  margin-top: -10px;
  padding-bottom: 50px;
  display: block;
}
.title {
  font-family: "Ubuntu", sans-serif;
  display: inline-block;
  color: #b7ab98;
  text-transform: uppercase;
  margin: 0px;
  position: relative;
  z-index: 2;
  &:nth-of-type(2) {
    display: block;
    position: absolute;
    color: #383838;
    top: 0;
    z-index: 1;
  }
}
.about-heading {
  font-weight: 700;
  font-size: 5vw;
  line-height: 7.5vw;
}
.about-me {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 3vw;
}
@media (max-width: 600px) {
  .about-heading {
    line-height: 5rem;
    font-size: 2rem;
  }
  .about-me {
    line-height: 7vw;
    font-size: 1rem;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}
